.user__back
  .user__content
    %h2.user__title アカウントの作成
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .user__form
        .form__inputs
          .field
            = f.label :nickname, "アカウント名"
            %br/
            = f.text_field :nickname, autofocus: true, autocomplete: "nickname"
          .field
            = f.label :password, "パスワード"
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} 文字以上)
            %br/
            = f.password_field :password, autocomplete: "new-password"
          .field
            = f.label :password_confirmation, "パスワード再入力"
            %br/
            = f.password_field :password_confirmation, autocomplete: "new-password"
        .field__commits
          .actions
            = f.submit "アカウント作成", class: "button"
          .devise__links
            = render "devise/shared/links"
