.header__contents
  .header__contents__left
    .side--bar__btn
      = icon('fas', 'bars', class: 'header__left__icon')
    .header__contents__left__title
      = link_to root_path, class:'header__title' do
        %p.title Splatoon2 Chat
  .header__contents__right
    - if user_signed_in?
      %p.user__name=@nickname
      = link_to (user_path(current_user)), class:'user__icon' do
        = icon('fas', 'user-edit')
      = link_to (destroy_user_session_path), method: :delete, class:'user__icon' do
        = icon('fas', 'sign-out-alt')
    - else
      = link_to (new_user_registration_path), class:'user__icon' do
        = icon('fas', 'user-plus')
      = link_to (new_user_session_path), class:'user__icon' do
        = icon('fas', 'sign-in-alt')
.user__profiles
  .user__tag User Information
  .user__profile 
    .user__profile__name
      - if user_signed_in?
        %p="Name:#{@nickname}"
      - else
        %p Name:
    .user__profile__power
      .user__profile__power__box
        .rule ガチエリア
        %ul
          %li.user__rate X
          %li.user__power 2400
      .user__profile__power__box
        .rule ガチヤグラ
        %ul
          %li.user__rate X
          %li.user__power 2400
      .user__profile__power__box
        .rule ガチホコ
        %ul
          %li.user__rate X
          %li.user__power 2400
      .user__profile__power__box
        .rule ガチアサリ
        %ul
          %li.user__rate X
          %li.user__power 2400
          